.main{
    display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	padding: 0 20px;
    

    .info{
        background-color: white;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 60px;

        h1{
            font-family: "Source Sans 3";
            font-weight: 700;
            font-size: 45px; 
            color: #205691;
            max-width: 45rem;
        }

        p{
            font-family: "Source Sans 3";
            font-weight: 700;
            font-size: 45px; 
            color: #205691;
            max-width: 45rem;
        }

        button{
            max-width: 332px;
            padding: 20px 0;
            background-color: #F27267;
            color: white;
             font-family: "Source Sans 3";
            font-weight: 700;
            font-size: 86px; 
            color: #205691;
            max-width: 45rem;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: #d44a3d;
            }
        }
    }

    .infoDados{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        article{
            text-align: center;
            h2{
             font-family: "Source Sans 3";
             font-weight: 700;
             font-size: 45px; 
            color: #205691;
            max-width: 45rem;
            }

            h3{
                font-family: "Source Sans 3";
            font-weight: 700;
            font-size: 45px; 
            color: #205691;
            max-width: 45rem;
            }
        }
    }

    img{
        flex: 1;
        display: block;
        max-width: 100%;
        min-width: 0;
        object-fit: contain;
    }
}

@media (max-width: 768px){
    .main{
        flex-direction: column;
        align-items: center;
        height: auto;

      img{
        max-width: 522px;
      }
    }
}